/* Gerai */
body {
    font-family: 'Roboto', sans-serif;
    
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}
/* header */
#logo {
    width: 75px;
}
header .navbar {
    background-color: #8b9a25;
}
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    padding: 0;
    color: #fff;
}

#navbar-links a {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .5s;
}
#navbar-links a:hover {
    color: #e7723a;
}

/* Sessão de banner */
.container-fluid {
    overflow: hidden;
    padding: 0;
}
#home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    animation: zooAnime 3s;
}
.banner {
    position: absolute;
    top: 45%;
    left: 32%;
}
.banner h1 {
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    text-shadow: .3rem .4rem 3px rgba(0, 0, 0, 0.8);
    animation: moveBanner 2s 0.5s forwards;
}
.banner span {
    color: #e7723a;
    animation: moveBanner 2s 0.5s forwards;
}
/* keyframes */
@keyframes zooAnime {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    } 100% {
        transform: translateY(0) rotateY(0);
    }
}

/* Sessão sobre */
#sobre-area {
    padding: 2rem, 0;
    background-color: #e7723a;
}
.anime-left {
    opacity: 0;
    transform: translate3D(-100px, 0, 0);
    transition: .5s ease;
}
.anime-right {
    opacity: 0;
    transform: translate3D(100px, 0, 0);
    transition: .5s ease;
}
.anime-start {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    
}
.sobre-box h2 {
    margin-top: 5rem;
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;

}
.sobre-box h2::after {
    content: '';
    border-top: 1px solid #343a40;
    width: 15%;
    position: absolute;
    top: 100px;
    left: 11%;
}
.sobre-box p {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 1.2rem;
}
.sobre-box img {
    box-shadow: 0.3rem 0.2rem 2px rgba(0, 0, 0, 0.8);
}

/* sessao de especialidades */
#especialidades-area {
    background-color: #8b9a25;
}
.text-header {
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.main-title {
    font-weight: 600;
}
.main-title::after {
    content: '';
    border-top: 2px solid #343a40;
    width: 18%;
    position: absolute;
    top: 45px;
    left: 3%;
}
.card-box {
    position: relative;
}

.card {
    margin-top: 4rem;
    width: 20rem;
    height: 25rem;
    background-color: #000;
    border: none;
    transition: .5s;
    cursor: pointer;
    position: relative;
    position: relative;
}
.card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #e7723a99;
    transition: .7s ease;
}
.card:hover::before {
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    /*opacity: .6;*/ 
    background-color: #000;
    box-shadow: 0.3rem 0.2rem 2px rgba(0, 0, 0, 0.8);
}
.text-card {
    position: relative;
    bottom: 14rem;
    left: 5rem;  
}

.text-card h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: .1rem .2rem 3px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

/* Sessao de Cardapio */
#cardapio-area {
    background-color: #e7723a;
}
#cardapio-area h2 {
    font-weight: 600;
}
#cardapio-area h2::after {
    content: '';
    border-top: 2px solid #343a40;
    position: absolute;
    width: 13%;
    top: 7%;
    left: 3%;
}
.cardapio-box img {
    box-shadow: 0.3rem 0.2rem 2px rgba(0, 0, 0, 0.8);
}
.menu-box {
    margin-top: 20px;
}
.menu-box h4 {
    text-transform: uppercase;
    font-size: 1.1rem;
}
#cardapio-area .btn-menu {
    width: 25%;
    height: 8%;
    color: #343a40;
    text-transform: uppercase;
    border: 1px solid #343a40;
    background-color: #e7723a;
    transition: .5s;
}

#cardapio-area .btn-menu:hover {
    color: #fff;
    border: 1px solid #fff;
    
}
.modal-content {
    background-color: #e7723a99;
}
.modal-header {
    color: #fff;
    text-transform: uppercase;
}
/* Footer e contato */
#contato-area {
    margin-top: 2rem;
    margin-bottom: 0;
    background-color: #e7723a;
}
.text-center img {
    box-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.8);
}
.footer-box {
   margin-top: 4rem;
   padding: 1rem 0;  
}
.footer-box h2 {
    font-weight: 600;
}
.footer-box h2::after {
    content: '';
    border-top: 2px solid #343a40;
    position: absolute;
    width: 27%;
    top: 55%;
    left: 2%;
}
.footer-box p {
    text-transform: uppercase;
    font-weight: 600;
}
.copyright {
   
    padding-bottom: 0;
    background-color: #8b9a25;
   height: 3rem;
   padding: 1rem 0;
}
.copyright p {
    text-align: center;
}
.copyright a {
    color: #343a40;
    text-decoration: none;
    font-weight: bold;
}

/* Responsive */
@media(max-width: 768px) {
    /* geral */
    .container {
        padding: 20px 0;
    }
    #home {
        height: auto;
    }
    .banner {
        left: 20%;
    }
    /* Sessao sobre */
    .sobre-box h2 {
        margin-top: 2rem;
    }
    .sobre-box h2::after {
        content: '';
        border-top: 1px solid #343a40;
        width: 18%;
        position: absolute;
        top: 55px;
        left: 20%;
    }
    .sobre-box p {
        margin-top: 20px;
    }
    /* Sessao de especialidades */
    .text-header {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .main-title::after {
        content: '';
        border-top: 2px solid #343a40;
        width: 25%;
        position: absolute;
        top: 45px;
        left: 6.5%;
    }
    .card {
        width: auto;
    }
    .text-card {
        left: 2rem;
    }

    /* Sessao de cardapio */
    #cardapio-area h2::after {
        content: '';
        border-top: 2px solid #343a40;
        position: absolute;
        width: 18%;
        top: 5%;
        left: 6.5%;
    }
    #cardapio-area .btn-menu {
        width: auto;
        height: auto;
    }

    /* Sessao de contato */
    .footer-box h2::after {
        content: '';
        border-top: 2px solid #343a40;
        position: absolute;
        width: 30%;
        top: 55%;
        left: 9%;
    }

}

@media(max-width: 425px) {
    .banner h1 {
        font-size: 3rem;
    }
    /* Sessao de especialidades */
    .main-title::after {
        content: '';
        border-top: 2px solid #343a40;
        width: 65%;
        position: absolute;
        top: 45px;
        left: 7.5%;
    }
    .card {
        margin-top: 2rem;
    }
    .text-card {
        left: 5rem;
    }
    /* sessao de cardapio */
    #cardapio-area .btn-menu {
        margin-bottom: 1rem;
    }
    /* Sessao de contato */
    .footer-box {
        margin-top: 0;
        padding-left: 1rem;
    }
    .footer-box h2::after {
        content: '';
        border-top: 2px solid #343a40;
        position: absolute;
        width: 30%;
        top: 65%;
        left: 7%;
    }
    .copyright {
        padding: 0;
    }
    .copyright p {
        margin-bottom: 0;
    }
}
