/* Gerai */
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}
/* header */
#logo {
    width: 75px;
}
header .navbar {
    background-color: #8b9a25;
}
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    padding: 0;
    color: #fff;
}

#navbar-links a {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .5s;
}
#navbar-links a:hover {
    color: #e7723a;
}
